*{
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.formBg{
    background: #F1F1F1;
}
.formBlock{
    margin: 0 auto;
}
.adminsBlokLists{
    width: 75%;
    height: 140px;
    background: #8FCAD9;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden;
    transition-duration: 0.5s;
}

.height500{
    height: 550px!important;
    transition-duration: 0.5s;
}
.height250{
    height: 250px!important;
    transition-duration: 0.5s;
}
.height350{
    height: 350px!important;
    transition-duration: 0.5s;
}
.height400{
     height: 400px!important;
     transition-duration: 0.5s;
 }


.adminsBlokLists>.row .slide{
    width: 150px;
    height: 100px;

    margin: 0 auto;
}
.adminsBlokLists>.row .slide img{
    width: 100%;
    height: 100%;
}

.adminsBlokLists>.row .btn{
    margin-top: 8%;
    margin-left: 8%;
    float: left;
}

.updatePanel{
    width: 100%;
    height: 300px;
    margin: 20px auto 0 auto;
}

.updatePanel input {
    margin-bottom: 10px;
}

.card__img img{
    width: 200px;
    height: 100px;
}

#popMag{
    height: 50px;
    overflow: hidden;
}
/* left admin menu styles*/
.big{
    width: 100%;
    margin: 0 auto;
    height: 50px;
    overflow: hidden;
    border: 1px solid #CDD1D5;
    transition-duration: 0.5s;
}
.big div{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #CDD1D5;
    cursor: pointer;
    padding: 10px 0 0 20px;
    color: #495057;
}
.big div:hover {
    background: #F6F6F6;
}
#height{
    height: 400px!important;
    transition-duration: 0.5s;
}
#height1{
    height: 200px!important;
    transition-duration: 0.5s;
}
.menuHeading{
    background: #DEDEDE;
    cursor: pointer;
}
.menuHeading1{
    background: #DEDEDE;
    cursor: pointer;
}
.activPage{
    background: #F0F0F0!important;
}
/* left admin menu styles end*/
